[submodule "external/remdm"]
	path = external/remdm
	url = https://github.com/kuleshov-group/remdm
[submodule "external/PRISM"]
	path = external/PRISM
	url = https://github.com/SeunggeunKimkr/PRISM
[submodule "external/remedi"]
	path = external/remedi
	url = https://github.com/maple-research-lab/RemeDi.git
